body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P';
}

a, a:active, a:hover {
    text-decoration: none;
    color: black;
}

#visualization {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: lightgray
}

#process_book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: lightskyblue
}

#code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: lightgreen
}

.spacer {
    height: 5%;
}