body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P';
}

a, a:active, a:hover {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19%;
    width: 100%;
}

#title {
    background-color: #ffe941;
}

#visualization {
    background-color: #e3e3e3
}

#video {
    background-color: #f0bdbd
}

#process_book {
    background-color: #badef5
}

#code {
    background-color: #aff2af
}

.spacer {
    height: 1%;
}
