body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P';
}

a, a:active, a:hover {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    
    /* Enable line breaks in as many browsers as possible */
    /* works with: safari, chrome, firefox */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.spacer {
    height: 5%;
}

#epfl {
    height: 10%;
    margin-left: 5%;
    padding-bottom: 1%;
}

#kirell {
    height: 8%;
    margin-right: 5%;
    background-color: black;
    padding: 2%
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    position: absolute;
    top: 20%
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23%;
    width: 48%;
    position: absolute;
    margin: 1%;
}

#visualization {
    background-color: #fff6af;
    top: 50%;
    left: 0%
}

#code {
    background-color: #d0d0d0;
    top: 50%;
    right: 0%
}

#video {
    background-color: #ffbebe;
    top: 75%;
    left: 0%
}

#process_book {
    background-color: #badef5;
    top: 75%;
    right: 0%
}
