* {
	margin:0;
	padding:0;
	font-size: 10px;
	font-family: sans-serif;

}

a, a:active, a:hover {
	text-decoration: none;
}

h1 {
	opacity: 0.5;
	font-size: 4.5em;
	position: absolute;
	top: 2%;
	left: 2%;
}

#options {
	position: absolute;
	top:3%;
	left:2%;
    line-height: 180%;
    font-size: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    font-family: 'Press Start 2P';
}

#cy {
	width: 100%;
	height: 80%;
	position: absolute;
	left: 0;
	top: 0;
}

#search_wrapper {
	width:240px;
	height:30px;
	position: absolute;
	top:2%;
	right:2%;
}

#current_pokemon {
	width:100%;
	height:20%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.desc_name {
    fill: white;
    text-transform: uppercase;
    text-anchor: middle;
    font-family: 'Press Start 2P';
}

#r_n_pokedex {
    fill: white;
    text-anchor: end;
    font-family: 'Press Start 2P';
}

#l_n_pokedex {
    fill: white;
    font-family: 'Press Start 2P';
}

.desc_text {
    fill: gray;
    font-family: sans-serif;
    font-weight: bold;
}

.desc_sub {
    fill: lightgray;
    font-family: sans-serif;
    font-weight: bold;
    text-anchor: end;
}

.desc_top_typename {
    fill: white;
    opacity: 0.5;
    font-family: sans-serif;
    font-weight: bold;
    text-anchor: end;
}

.desc_top_typeval {
    fill: black;
    font-family: sans-serif;
    font-weight: bold;
}

#butterfly_chart rect {
    fill: gray;
}

#butterfly_chart_attrs {
    fill: gray;
    font-weight: bold;
    text-anchor: middle;
}

#butterfly_chart_left {
    fill: black;
    font-weight: bold;
    text-anchor: end;
}

#butterfly_chart_right {
    fill: black;
    font-weight: bold;
    text-anchor: start;
}

#legendButton {
    position: absolute;
    right:4%;
    top:10%;
    background:rgba(255,255,255,0.5);
    width:150px;
    padding:5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
}

#legendButton #legend {
    display:none;
    width:100px;
    text-align:left;
    font-family: sans-serif;
    text-transform:lowercase;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}


#legendButton:hover #legend, #legendButton:hover #legend:hover {
    display:block;
}


#legend .patch {
    width:20px;
    height:10px;
    display:inline-block;
    vertical-align: middle;
    margin-right:5px;
}

#legend .text {
    display:inline-block;
    vertical-align: middle;
}